<section class="select-showtime">
  <h2 class="showtime">Select Showtime</h2>
  <form class="input-container">
    <input class="schedule" type="datetime-local" id="date" />
    <div class="submit-time">
      <button class="submit-btn" onclick="alert('Schedule submitted')">
        <p>submit schedule</p>
      </button>
    </div>
  </form>
</section>
