<div class="sidebar">
  <img class="profile" src="images/user.png" alt="" />
  <h3 id="username-display"><%= username %></h3>
  <i id="update-username-icon" class="fas fa-user-edit"></i>
  <a href="/producer">Producer</a>
  <a href="/listener">Listener</a>
  <a href="/" class="current-page">DJ's Playlists</a>
</div>
