<div class="sidebar">
  <i class="fa-regular fa-user"></i>
  <h3>Username</h3>
  <a href="/producer">Producer</a>
  <a href="/listener">Listener</a>
  <a href="/" class="current-page">DJ's Playlists</a>
</div>
